<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card *ngFor="let serie of dadosPost">
      <img src="{{ serie.imagem }}">
      <ion-card-header>
          <ion-card-subtitle>{{ serie.subtitle }}</ion-card-subtitle>
          <div class="centro">
          <ion-card-title>{{ serie.nome }}</ion-card-title>
          <ion-chip>
            <ion-label>{{ serie.nota }}</ion-label>
          </ion-chip>
          </div>
          <ion-row>
            <ion-col size="3">
          <ion-icon size="large" name="thumbs-up" (click)="like(serie)" color="{{serie.estadoLike ? 'success' : 'dark'}}"></ion-icon>
          <p>{{ serie.numeroLikes }}</p>
            </ion-col>
            <ion-col>
          <ion-icon size="large" name="thumbs-down" (click)="deslike(serie)" color="{{serie.estadoDeslike ? 'danger' : 'dark'}}"></ion-icon>
          <p>{{ serie.numeroDeslikes }}</p>
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="serie.tem_spoiler" name="warning" color="danger" size="large"></ion-icon>
          </ion-col>
          </ion-row>
      </ion-card-header>
      <ion-card-content></ion-card-content>
      <div class="botao">
      <ion-button (click)="presentToast()" fill="outline">COMENTAR</ion-button>
      <ion-button (click)="alerta()" fill="outline">JÁ COMENTEI</ion-button>
      </div>
    </ion-card>

  <app-post></app-post>
